<!DOCTYPE html>
<html>
  <head>
    <title>ShortURL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          Short URL
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to "List of Short Url",posts_path, class:"nav-link px-2 text-secondary" %></li>
        </ul>
        <div class="text-end">
          <%= link_to "Login", new_user_session_path, class: 'btn btn-outline-light me-2' unless user_signed_in? %>
          <%= button_to "Log Out", destroy_user_session_path, class: 'btn btn-outline-light me-2', method: :delete if user_signed_in? %>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
